<table>
  <tr>
    <th>id</th>
    <th>Title</th>
    <th>Author</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% books.each.with_index(1) do |book, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.status %></td>
      <td>
        <%= select_tag "status", options_for_select(Book.statuses.keys, book.status), 
                                 { data: { reflex: 'change->Book#update_status', id: book.id } } %>
      </td>
    </tr>
  <% end %>
</table>